In [1]:
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
%load_ext sql

In [3]:
#from sqlalchemy import create_engine

In [4]:
# Format %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://postgres:password@localhost/postgres

In [5]:
%%sql

Create table If Not Exists seat(id int, student varchar(255));
Truncate table seat;
insert into seat (id, student) values ('1', 'Abbot');
insert into seat (id, student) values ('2', 'Doris');
insert into seat (id, student) values ('3', 'Emerson');
insert into seat (id, student) values ('4', 'Green');
insert into seat (id, student) values ('5', 'Jeames');

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%sql select * from seat

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'Abbot'), (2, 'Doris'), (3, 'Emerson'), (4, 'Green'), (5, 'Jeames')]

In [10]:
%%sql 

select (case when mod(id,2) <> 0 and (select count(*) from seat) <> id then id+1
             when mod(id,2) <> 0 then id
             else id-1 end) as id,student from seat 
                order by id

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'Doris'), (2, 'Abbot'), (3, 'Green'), (4, 'Emerson'), (5, 'Jeames')]

In [11]:
%%sql 

select (case 
        when mod(id,2) <> 0 and (select count(*) from seat) <> id then id +1
        when mod(id,2) <> 0 then id
        else id - 1 end) as id,
 student from seat
    order by id

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'Doris'), (2, 'Abbot'), (3, 'Green'), (4, 'Emerson'), (5, 'Jeames')]