In [1]:
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
%load_ext sql

In [3]:
# Format %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://postgres:password@localhost/postgres

In [56]:
%%sql

Create table If Not Exists students(id int, name varchar(255), marks int);
Truncate table students;
insert into students (id, name, marks) values ('1', 'Julia', '88');
insert into students (id, name, marks) values ('2', 'Samantha', '68');
insert into students (id, name, marks) values ('3', 'Maria', '100');
insert into students (id, name, marks) values ('4', 'Scarlet', '78');
insert into students (id, name, marks) values ('5', 'Ashley', '63');
insert into students (id, name, marks) values ('6', 'Jane', '81');

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [59]:
%%sql

select (case when grade < 8 then 'NULL'
        else name end) as name,  
        (case when grade > 10 then 10
         else grade end) as grade, marks from 
(select name,
cast(1+floor(marks/10) as int) as grade,
marks 
from students) as s
order by grade desc,name asc,marks asc

 * postgresql://postgres:***@localhost/postgres
6 rows affected.

[('Maria', 10, 100),
 ('Jane', 9, 81),
 ('Julia', 9, 88),
 ('Scarlet', 8, 78),
 ('NULL', 7, 63),
 ('NULL', 7, 68)]