In [3]:
import pandas as pd
import psycopg2
import sqlalchemy

In [4]:
%load_ext sql

In [5]:
# Format %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://postgres:password@localhost/postgres

In [14]:
%%sql

Create table If Not Exists Employees (id int, salary int);
Truncate table Employees;
insert into Employees (id, salary) values ('1', '100');
insert into Employees (id, salary) values ('2', '200');
insert into Employees (id, salary) values ('3', '300');

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [15]:
%%sql

select * from Employees

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(1, 100), (2, 200), (3, 300)]

In [18]:
%%sql

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
 BEGIN
    RETURN (
    select salary as getnth from Employee where id = N      
   );
END

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.SyntaxError) syntax error at or near "BEGIN"
LINE 2:  BEGIN
         ^

[SQL: CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
 BEGIN
    RETURN (
    select salary as getnth from Employee where id = N
   );
END]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [22]:
%%sql
 
select case (when 0 > (select count(*) from Employees) then null
            else salary end) as nthsal from 
(select *,dense_rank() over (order by salary) as salrank from Employees) 
Emp2 where salrank = 2

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.SyntaxError) syntax error at or near "when"
LINE 1: select case (when 0 > (select count(*) from Employees) then ...
                     ^

[SQL: select case (when 0 > (select count(*) from Employees) then null
            else salary end) as nthsal from
(select *,dense_rank() over (order by salary) as salrank from Employees)
Emp2 where salrank = 2]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [26]:
%%sql
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
 BEGIN
    RETURN (
select *,dense_rank() over (order by salary) as salrank from Employees
   );
END

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.SyntaxError) syntax error at or near "BEGIN"
LINE 2:  BEGIN
         ^

[SQL: CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
 BEGIN
    RETURN (
select *,dense_rank() over (order by salary) as salrank from Employees
   );
END]
(Background on this error at: http://sqlalche.me/e/13/f405)