In [1]:
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
%load_ext sql

In [ ]:
#from sqlalchemy import create_engine

In [3]:
# Format %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://postgres:password@localhost/postgres

In [6]:
%%sql

Create table If Not Exists Trips (Id int, Client_Id int, Driver_Id int, City_Id int, 
                                  Status varchar(255),Request_at date);
Truncate table Trips;
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('1','1','10','1','completed','2013-10-01');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('2','2','11','1','cancelled_by_driver','2013-10-01');                          
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('3','3','12','6','completed','2013-10-01');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('4','4','13','6','cancelled_by_client','2013-10-01');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('5','1','10','1','completed','2013-10-02');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('6','2','11','6','completed','2013-10-02');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('7','3','12','6','completed','2013-10-02');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('8','2','12','12','completed','2013-10-03');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('9','3','10','12','completed','2013-10-03');
insert into Trips (Id, Client_Id,Driver_Id,City_Id,Status,Request_at) 
                  values ('10','4','13','12','cancelled_by_driver','2013-10-03');

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [8]:
%%sql

Create table If Not Exists Users (Users_Id int, Banned varchar(255), Role varchar(255));
Truncate table Users;
insert into Users (Users_Id, Banned,Role) values ('1','No','client');
insert into Users (Users_Id, Banned,Role) values ('2','Yes','client');
insert into Users (Users_Id, Banned,Role) values ('3','No','client');
insert into Users (Users_Id, Banned,Role) values ('4','No','client');
insert into Users (Users_Id, Banned,Role) values ('10','No','driver');
insert into Users (Users_Id, Banned,Role) values ('11','No','driver');
insert into Users (Users_Id, Banned,Role) values ('12','No','driver');
insert into Users (Users_Id, Banned,Role) values ('13','No','driver');

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [7]:
%%sql

select * from Trips

 * postgresql://postgres:***@localhost/postgres
10 rows affected.

[(1, 1, 10, 1, 'completed', datetime.date(2013, 10, 1)),
 (2, 2, 11, 1, 'cancelled_by_driver', datetime.date(2013, 10, 1)),
 (3, 3, 12, 6, 'completed', datetime.date(2013, 10, 1)),
 (4, 4, 13, 6, 'cancelled_by_client', datetime.date(2013, 10, 1)),
 (5, 1, 10, 1, 'completed', datetime.date(2013, 10, 2)),
 (6, 2, 11, 6, 'completed', datetime.date(2013, 10, 2)),
 (7, 3, 12, 6, 'completed', datetime.date(2013, 10, 2)),
 (8, 2, 12, 12, 'completed', datetime.date(2013, 10, 3)),
 (9, 3, 10, 12, 'completed', datetime.date(2013, 10, 3)),
 (10, 4, 13, 12, 'cancelled_by_driver', datetime.date(2013, 10, 3))]

In [9]:
%%sql

select * from Users

 * postgresql://postgres:***@localhost/postgres
8 rows affected.

[(1, 'No', 'client'),
 (2, 'Yes', 'client'),
 (3, 'No', 'client'),
 (4, 'No', 'client'),
 (10, 'No', 'driver'),
 (11, 'No', 'driver'),
 (12, 'No', 'driver'),
 (13, 'No', 'driver')]

In [56]:
%%sql 

select 
 Request_at as Day, 
 round((sum(case when Status like 'cancelled%' then 1 else 0 end)::NUMERIC)/count(*),2) as "Cancellation Rate"
    from Trips
        where 
            Client_Id not in (select Users_Id from Users where Banned = 'Yes') and
            Driver_Id not in (select Users_Id from Users where Banned = 'Yes') and
            Request_at between '2013-10-01' and '2013-10-03'
                group by Day
                order by Day

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(datetime.date(2013, 10, 1), Decimal('0.33')),
 (datetime.date(2013, 10, 2), Decimal('0.00')),
 (datetime.date(2013, 10, 3), Decimal('0.50'))]

In [57]:
%%sql 

select 
 Request_at as Day, 
 sum(case when Status like 'cancelled%' then 1 else 0 end)::DOUBLE PRECISION as "Num Cancelled",
 count(Status)*1.0 as "Total Trips"
    from Trips
                group by Day
                order by Day

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(datetime.date(2013, 10, 1), 2.0, Decimal('4.0')),
 (datetime.date(2013, 10, 2), 0.0, Decimal('3.0')),
 (datetime.date(2013, 10, 3), 1.0, Decimal('3.0'))]