In [1]:
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
%load_ext sql

In [3]:
# Format %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://postgres:password@localhost/postgres

In [4]:
%%sql

Create table If Not Exists Weather (Id int, RecordDate date, Temperature int);
Truncate table Weather;
insert into Weather (Id, RecordDate, Temperature) values ('1', '2015-01-01', '10');
insert into Weather (Id, RecordDate, Temperature) values ('2', '2015-01-02', '25');
insert into Weather (Id, RecordDate, Temperature) values ('3', '2015-01-03', '20');
insert into Weather (Id, RecordDate, Temperature) values ('4', '2015-01-04', '30');

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql

select * from weather

 * postgresql://postgres:***@localhost/postgres
4 rows affected.

[(1, datetime.date(2015, 1, 1), 10),
 (2, datetime.date(2015, 1, 2), 25),
 (3, datetime.date(2015, 1, 3), 20),
 (4, datetime.date(2015, 1, 4), 30)]

In [30]:
%%sql

select id,temperature,recorddate,prevTemp,prevDate from 
 (select w1.id, w1.recorddate, w1.temperature,
       w2.id as prevId,w2.recorddate as prevDate,w2.temperature as prevTemp 
         from weather w1 left join weather w2 
             on w1.id = 1+w2.id) as w3 where temperature > prevTemp

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[(2, 25, datetime.date(2015, 1, 2), 10, datetime.date(2015, 1, 1)),
 (4, 30, datetime.date(2015, 1, 4), 20, datetime.date(2015, 1, 3))]

In [32]:
%%sql

select w1.id, w1.recorddate, w1.temperature,
       w2.id as prevId,w2.recorddate as prevDate,w2.temperature as prevTemp 
         from weather w1 left join weather w2 
             on w1.id = 1+w2.id
                where w1.temperature > w2.temperature

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[(2, datetime.date(2015, 1, 2), 25, 1, datetime.date(2015, 1, 1), 10),
 (4, datetime.date(2015, 1, 4), 30, 3, datetime.date(2015, 1, 3), 20)]

In [33]:
%%sql

select w1.id from weather w1 left join weather w2 on w1.id = 1+w2.id where w1.temperature > w2.temperature

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[(2,), (4,)]

In [31]:
%%sql

(select w1.id as id0,w2.id as id,(w2.id - w1.id) as datediff from Weather w1
left join Weather w2 on w2.id = (w1.id + 1)
where w2.temperature > w1.temperature)

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[(1, 2, 1), (3, 4, 1)]

In [68]:
%%time
%%sql

select w2.id from Weather w1
left join Weather w2 on w2.id = (w1.id + 1)
where w2.temperature > w1.temperature

 * postgresql://postgres:***@localhost/postgres
2 rows affected.
CPU times: user 4.41 ms, sys: 5 ms, total: 9.41 ms
Wall time: 8.59 ms

[(2,), (4,)]

In [69]:
%%time
%%sql 

select w2.id from weather w1
join weather w2 ON 
1=(DATE_PART('day', w2.recorddate)-DATE_PART('day', w1.recorddate))
where w2.temperature > w1.temperature

 * postgresql://postgres:***@localhost/postgres
2 rows affected.
CPU times: user 15 ms, sys: 12.5 ms, total: 27.5 ms
Wall time: 33.7 ms

[(2,), (4,)]